h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  display: block;
}
body {
  font-family: Roboto, sans-serif;
}

.ﾑ「stomers__container {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // background-image: url(../images/ﾑ「stomers-say/Rectangle\ 701.jpg);
  
  

  @media screen and (min-width: 768px) {
    // background-image: url(../images/ﾑ「stomers-say/rectangle-320.png);
    padding-top: 60px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 115px;
    margin-left: auto;
    margin-right: auto;
  }
  // @media screen and (min-width: 1280px) {
  //   background-image: url(../images/ﾑ「stomers-say/rectangle-1280.png);
  //   padding-top: 60px;
  //   padding-left: 32px;
  //   padding-right: 32px;
  //   padding-bottom: 115px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}
.customers__stars-container {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
  }
}
.customers__stars {
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 8px;
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 244px;
  }
}
.customers__stars:not(:last-child) {
  margin-bottom: 28px;
}
.customers__stars-list {
  display: flex;
  gap: 5px;
  margin-bottom: 28px;
}
.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);

  color: #2c2c2c;
}
.customers__title-position {
  margin-bottom: 20px;
}
.customemers__sub-title {
  font-size: 14px;
  line-height: calc(16 / 14);

  color: #2c2c2c;
}
.customers__sub-title-position {
  margin-bottom: 28px;
}
.customers__text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);

  color: #2c2c2c;
}
.customers__text-position {
  margin-bottom: 40px;
}
.customers__user {
  display: flex;
  align-items: center;
}
.customers__user-position {
  border-right: 1px solid #7eb101;
}
.customers__user-img {
  margin-right: 16px;
}
.customers__user-name {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(15 / 14);

  color: #2c2c2c;

  margin-right: 16px;
  margin-bottom: 4px;
}
.customers__user-dude {
  font-size: 14px;
  line-height: calc(15 / 14);

  color: #2c2c2c;
}
