<section class="subscribe">
  <div class="subscribe__container">
    <img
      class="subscribe__img"
      src="./images/subscribe/pngwing.jpg"
      alt="subscribe-img"
      width="161px"
    />
    <h2 class="subscribe__title subscribe__title-position">Subscribe To Get Special Offers</h2>
    <p class="subscribe__sub-title subscribe__sub-title-position">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form  class="subscribe__email-forms" name="subscribe__email-forms">
      <label class="subscribe__email">
        <input
          class="subscribe__email-input"
          type="email"
          name="email"
          id="e-mail"
          placeholder="Enter your email"
        />
      </label>
    </form>
    <button class="subscribe__btn" type="button">Subscribe</button>
  </div>
</section>
